<% @watchlists.each do |watchlist| %>
      <div>
        <div>
          <b><%= watchlist.name %></b>
          <%= link_to 'Edit', edit_watchlist_path(watchlist) %>
          <%= link_to 'Destroy', watchlist, :confirm => 'Are you sure?', :method => :delete %>
        </div>
        <%= render :partial => 'show_stock_performance', locals: {watchlist: watchlist} %>
      </div>
<% end %>

<br />

<%= link_to 'New Watchlist', new_watchlist_path %>
