<div id="holdings">
  <table>
    <tr>
      <th>Symbol</th>
      <th>Qty</th>
      <th>Holding Days</th>
      <th>Purchase Price</th>
      <th>Current Price</th>
      <th>P/L</th>
      <% @equity_holding.first.equity_transaction.stock.performance.returns.each do |days, value| %>
          <th><%= days %></th>
      <% end %>
    </tr>
    <%
       @equity_holding.each do |holding|
         stock = holding.equity_transaction.stock
         latest_price = stock.latest_quote.close
         purchase_price = holding.equity_transaction.price
    %>
        <tr>
          <td><%= display_stock_symbol stock.symbol %></td>
          <td><%= holding.quantity %></td>
          <td><%= Date.today - holding.equity_transaction.date %></td>
          <td><%= purchase_price %></td>
          <td>
            <%= latest_price %>
            (<%= raw display_returns((latest_price - purchase_price)/purchase_price * 100) %>)
          </td>
          <td>
            <%= holding.quantity * (latest_price - purchase_price) %>
          </td>
          <% stock.performance.returns.each do |days, value| %>
              <td><%= raw display_returns(value) %></td>
          <% end %>
        </tr>
    <% end %>
  </table>
</div>
<div class="company_actions">
  <div class="dividend">
    <table>
      <tr>
        <th colspan="3">Dividends</th>
      </tr>
      <% actions_by_date = @dividend_actions.group_by(&:ex_date) %>
      <% actions_by_date.each do |date, actions| %>
          <% actions.each_with_index do |dividend, index| %>
              <tr>
                <% if index == 0 %>
                    <td rowspan="<%= actions.count %>"><%= date %></td>
                <% end %>
                <td><%= display_stock_symbol dividend.stock.symbol %></td>
                <td>
                  <span class="<%= (dividend.current_percentage) > 3 ? 'green' : 'gray' %>"><%= display_price dividend.current_percentage %> </span>
                </td>
              </tr>
          <% end %>
      <% end %>
    </table>
  </div>
  <div class="bonus">
    <table>
      <tr>
        <th colspan="3">Bonus</th>
      </tr>
      <% actions_by_date = @bonus_actions.group_by(&:ex_date) %>
      <% actions_by_date.each do |date, actions| %>
          <% actions.each_with_index do |bonus, index| %>
              <tr>
                <% if index == 0 %>
                    <td rowspan="<%= actions.count %>"><%= date %></td>
                <% end %>
                <td><%= display_stock_symbol bonus.stock.symbol %></td>
                <td>
                  <span><%= "#{bonus.bonus_qty} for #{bonus.holding_qty}" %> </span>
                </td>
              </tr>
          <% end %>
      <% end %>
    </table>
  </div>
  <div class="split">
    <table>
      <tr>
        <th colspan="3">Face Value Changes</th>
      </tr>
      <% actions_by_date = @face_value_actions.group_by(&:ex_date) %>
      <% actions_by_date.each do |date, actions| %>
          <% actions.each_with_index do |split, index| %>
              <tr>
                <% if index == 0 %>
                    <td rowspan="<%= actions.count %>"><%= date %></td>
                <% end %>
                <td><%= display_stock_symbol split.stock.symbol %></td>
                <td>
                  <span><%= "#{split.from} to #{split.to}" %> </span>
                </td>
              </tr>
          <% end %>
      <% end %>
    </table>
  </div>
  <div class="error">
    <table>
      <tr>
        <th colspan="3">Action Errors</th>
      </tr>
      <% actions_by_date = @action_errors.group_by(&:ex_date) %>
      <% actions_by_date.each do |date, actions| %>
          <% actions.each_with_index do |error, index| %>
              <tr>
                <% if index == 0 %>
                    <td rowspan="<%= actions.count %>"><%= date %></td>
                <% end %>
                <td><%= display_stock_symbol error.stock.symbol %></td>
                <td>
                  <span><%= error.partial_data %> </span>
                </td>
              </tr>
          <% end %>
      <% end %>
    </table>
  </div>
</div>
