<%= render 'select_options' %>
<div class="chart_meta">
  <div class="returns">
    <% @stock.performance.returns.each do |key, return_percentage| %>
        <%= "#{key}: " %> <%= raw display_returns(return_percentage) %>
    <% end %>
  </div>
  <div class="title"><%=@stock.symbol%></div>
  <div class="legend mov_avg_10d">10 Days Avg</div>
  <div class="legend mov_avg_50d">50 Days Avg</div>
  <div class="legend mov_avg_200d">200 Days Avg</div>
  <div class="legend volume">Trading Volume</div>
</div>

<div id="chart"></div>
<script type="text/javascript">
    <%
    data = []
    @quotes.each do |quote|
        data << {date: quote.date, open: quote.open.to_f, high: quote.high.to_f, low: quote.low.to_f, close: quote.close.to_f,
        mov_avg_10d: quote.mov_avg_10d.to_f, mov_avg_50d: quote.mov_avg_50d.to_f, mov_avg_200d: quote.mov_avg_200d.to_f, traded_quantity: quote.traded_quantity.to_f}
    end
    %>
    new OHLC({data: <%=raw data.to_json %>, chartId: "#chart"});
</script>

