<%= render 'select_options' %>
<div class="chart_meta">
  <div class="returns">
    <% @stock.performance.returns.each do |key, return_percentage| %>
        <%= "#{key}: " %> <%= raw display_returns(return_percentage) %>
    <% end %>
  </div>
  <div class="title"><%=@stock.symbol%></div>
  <div class="legend mov_avg_10d">10 Days Avg</div>
  <div class="legend mov_avg_50d">50 Days Avg</div>
  <div class="legend mov_avg_200d">200 Days Avg</div>
  <div class="legend volume">Trading Volume</div>
  <div class="legend eps">EPS</div>
</div>

<div id="chart"></div>
<script type="text/javascript">
    new OHLC({data: <%=raw @quotes.to_json(except: [:id, :stock_id]) %>, chartId: "#chart", eps_data: <%=raw @results.to_json(only: [:quarter_end, :eps], methods: :quarter_start),  %>});
</script>

