<%=  render 'form' %>
<h3>Consolidated Holdings</h3>
<div id="holding_list">
  <table cellpadding="0" cellspacing="0" border="0" class="display" id="holdings_data_area">
    <thead>
    <tr>
      <th>Stock</th>
      <th>Quantity</th>
      <th>Account</th>
      <th>Portfolio</th>
    </tr>
    </thead>
    <% @consolidated_holdings.each do |holding| %>
        <tr>
          <td><%= display_stock_symbol Stock.find(holding.stock_id).symbol %></td>
          <td><%= holding.quantity %></td>
          <td><%= TradingAccount.find(holding.trading_account_id).name %></td>
          <td><%= Portfolio.find(holding.portfolio_id).name %></td>
        </tr>
    <% end %>
  </table>
</div>
<h3>Transactions</h3>
<div id="transaction_list">
  <table cellpadding="0" cellspacing="0" border="0" class="display" id="transactions_data_area">
    <thead>
    <tr>
      <th>Action</th>
      <th>Date</th>
      <th>Stock</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Brokerage</th>
      <th>Delivery</th>
      <th>Account</th>
      <th>Portfolio</th>
    </tr>
    </thead>
    <% @transactions.each do |transaction| %>
        <tr>
          <td><%= transaction.type.camelcase %></td>
          <td><%= transaction.date %></td>
          <td><%= display_stock_symbol transaction.stock.symbol %></td>
          <td><%= display_price transaction.price %></td>
          <td><%= transaction.quantity %></td>
          <td><%= display_price transaction.brokerage %></td>
          <td><%= transaction.delivery? %></td>
          <td><%= transaction.trading_account.name %></td>
          <td><%= transaction.portfolio.name %></td>
        </tr>
    <% end %>
  </table>
</div>

<script type="text/javascript">
    $('#transactions_data_area').dataTable({
        "bJQueryUI": true,
        "sPaginationType": "full_numbers",
        "aaSorting": [[ 1, "desc" ]],
        "oLanguage": {
            "sSearch": "Search:"
        }
    });
    $('#holdings_data_area').dataTable({
        "bJQueryUI": true,
        "sPaginationType": "full_numbers",
        "aaSorting": [[ 3, "asc" ],[ 0, "asc" ],[ 2, "asc" ]],
        "oLanguage": {
            "sSearch": "Search:"
        }
    });
</script>


