<!DOCTYPE html>
<html>
<head>
  <title>Trendz</title>
  <%= stylesheet_link_tag 'demo_table_jui', 'jquery.jqplot.min', 'smoothness/jquery-ui-1.8.16.custom', 'trendz' %>
  <%= javascript_include_tag 'jquery', 'jquery.jqplot', 'jqplot.barRenderer.min', 'jqplot.cursor.min',
                             'jqplot.dateAxisRenderer.min', 'application', 'jqplot.highlighter.min', 'jqplot.bubbleRenderer.min',
                             'jqplot.ohlcRenderer.min', 'jqplot.enhancedLegendRenderer.min', 'jqplot.dragable.min', 'jquery-ui-1.8.16.custom.min',
                             'jquery.dataTables.min', 'jqplot.categoryAxisRenderer.min', 'jqplot.pointLabels.min', 'jquery.numeric' , 'd3.v2.min'%>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="navigation">
  <ul>
    <li><a href="/">Home</a></li>
  </ul>
  <ul>
    <li><a href="<%= watchlists_path %>">Watchlist</a></li>
  </ul>
  <ul>
    <li><a href="<%= charts_path %>">Equity Chart</a></li>
  </ul>
  <ul>
    <li><a href="<%= stocks_path %>">Data</a></li>
  </ul>
  <ul>
    <li><a href="<%= fo_charts_path %>">F&O Charts</a></li>
  </ul>
  <ul>
    <li><a href="<%= market_activity_path %>">Market Activity</a></li>
  </ul>
  <ul>
    <li><a href="<%= equity_transactions_path %>">Transaction</a></li>
  </ul>
  <ul>
    <li><a href="<%= corporate_actions_path %>">Corporate Actions</a></li>
  </ul>
  <ul>
    <li><a href="<%= status_path %>">Import Status</a></li>
  </ul>
</div>
<div class="clear"></div>
<%= yield %>
</body>
</html>
